<launch>
  <node pkg="frontier_exploration" type="frontier_exploration" name="frontier_exploration" output="screen">

    <param name="num_uavs" value="1" />

    <param name="exploration_min_x" value="-30.0" />
    <param name="exploration_max_x" value="30.0" />
    <param name="exploration_min_y" value="-30.0" />
    <param name="exploration_max_y" value="30.0" />
    <param name="exploration_min_z" value="0.0" />
    <param name="exploration_max_z" value="10.0" />

    <param name="just_flying" type="bool" value="true" />
    <param name="merge_distance" value="20.0" />
    <param name="min_score" value="0.2" />
    <param name="update_rate" value="1.0" />

  </node>
</launch>